.vscode/

**devel/
**logs/
**build/

**__pycache__/
**.catkin_tools/

**backup**
**.pyc

**.pth
**tmp

Context_Aware_Navigation/gifs/
Context_Aware_Navigation/model/
Context_Aware_Navigation/results/
Context_Aware_Navigation/train/